.header-colour{
    background-color:#62B6B7;
    background: linear-gradient(to bottom, #629cb7 0%, rgba(0, 0, 0, 0) 100%)
}
#button-color{
    background-color:#61A3BA;
    border:0px;
}
button[type="button"]{
    background-color:#61A3BA;
    border:0px;
}
.fixed-content{
    position:fixed;
    width:100%;
    z-index:1000;
    top:0;
    padding:10px;
}
#home{
    font-size:1.3rem;
}
#contact{
    font-size:1.3rem;
}
#about{
    font-size:1.3rem;
}
ul {
    list-style-type: none;
}
/* .text{
    text-align:left
} */
.header-container{
    display:flex;
    justify-content:flex-end;
}

.front-page-para-tag{
    font-size:1.2rem;
    /* font-weight: bold; */
}
.about-box{
    padding-top:0px;
    padding-bottom:0px;
}


.about-content {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 0px;
    text-align:justify;
    font-size:1.1rem;
}

h2 {
    color: #333;
    font-size: 24px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

li {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

.form{
    display:flex;
    justify-content:flex-end;
    position: static;
    /* border: 3px solid black; */
    margin-left:900px;  
    margin-right:100px;
    margin-top:25px;
}

.box{
    float:right;
    /* width:650px;
    height:300px; */
    margin-right:7em;
    margin-top:7em;
    margin-left:20em;
}

.size{
    height:20px;
    width:200px;
}

.sign-in{
    border-bottom:10px;
}

.bottom-margin{
    margin-bottom:15px;
}

.top-margin{
    margin-top:15px;
}

.side-border{
    margin-left:30px;
    margin-right:30px;
}

/* Style for list items (bullets) */



/* 
427D9D
61A3BA
*/